/* HEADER HOME */
.header-home {
  width: 100%;
  height: 500px;
  background-color: #ccc;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.header-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
}

.header-text h1 {
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  /* text-align: center; */
  background-color: black;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.header-text a {
  font-family: roboto;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
  color: black;
}

/* LATEST POSTS */
.latest-posts {
  margin-top: 100px;
  width: auto;
  height: auto;
  margin-bottom: 100px;
}

.latest-posts h2 {
  margin-left: 10%;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
}

/* CAROUSLE */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel-title {
  text-decoration: none;
  color: black;
}

.carousel {
  margin: 50px 0 0px 0;
  height: 250px;
  width: 80%;
  position: relative;
}

.switchLeft,
.switchRight {
  font-weight: bold;
  height: 0%;
  width: 25px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  top: 0;
  z-index: 3;
  margin-top: 8%;
}

.switchLeft {
  position: absolute;
  left: -50px;
}

.switchRight {
  position: absolute;
  right: -50px;
}

.carouselbox {
  height: auto;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.carouselbox img {
  width: 220px;
  height: 220px;
  background-size: cover;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselbox-content:hover {
  transform: scale(1.1);
  z-index: 5;
}

.switchLeft:hover,
.switchRight:hover {
  font-size: 35px;
}

.carouselbox-content p {
  font-size: 18px;
}

/* SPACE */
.space {
  position: relative;
  width: auto;
  height: 500px;
  background-color: black;
  text-align: center;
}

.space-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* DISCOVER */
.discover {
  width: 100%;
  height: 400px;
  /* background-image: url(/image/discover.png); */
  position: relative;
  text-align: center;
}

.discover h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  width: fit-content;
  margin: auto;
  height: fit-content;
  background-color: black;
  padding: 10px 20px;
  color: white;
}

.discover-button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.angle-down-symbol {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* DESTINATIONS */
.asia,
.europe {
  position: relative;
  height: 500px;
  margin-bottom: 100px;
  text-align: center;
}

.asia {
  background-image: url(/image/asia.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.europe {
  background-image: url(/image/europe.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.asia h1,
.europe h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  width: fit-content;
  margin: auto;
  height: fit-content;
  background-color: black;
  padding: 10px 30px;
}

/* .discover-button {
  position: absolute;
  width: 154px;
  height: 48px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 1s;
  border: 1px solid black;
} */
